# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/

# Build output
dist/
dist-ssr/

# Local environment variables file
.env

# Local files
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Visual Studio files
*.suo
*.ntvs*
*.njsproj
*.sln

# Swap files (vim, etc.)
*.sw?

# Test coverage directory
coverage/
